#workskin details.fadedetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 5em;
}

#workskin .phone {
    width: 500px;
    max-width: 90vw;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1em auto;
    border: 2px ridge;
    padding: .5em 0;
    display: table;
    overflow-wrap: break-word;
    hyphens: auto;
}

#workskin .phone h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#workskin .phoneheader {
    border-bottom: 2px ridge;
    font-weight: bold;
    padding-bottom: .5em;
    padding-top: .5em;
    margin: 0;
    text-align: center;
    display: block;
    overflow-wrap: break-word;
    hyphens: auto;
}

#workskin .fadedetails>summary {
    list-style: none;
    padding: 0.5em;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 0.3em;
    position: absolute;
    top: -3em;
}

#workskin .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
    border-radius: 0.3em;
    height: 100%;
    width: 100%;
    top: -0.1em;
    left: -0.1em;
}

#workskin:has(.overlay:hover) .fadedetails summary {
    background: rgba(0, 0, 0, 0.1);
    border: 3px solid red;
}

#workskin .fadedetails[open]>summary {
    border: 3px solid red;
    box-shadow: 0px 0px 3px red;
    filter: hue-rotate(180deg);
}

#workskin .fadedetails[open] .overlay {
    background: rgba(0, 0, 0, 0.2);
}

#workskin .text {
    margin: .5em .5em .5em 1em;
    margin-top: 0;
    border-radius: 1em;
    padding: .5em 1em;
    max-width: 90%;
    clear: both;
    position: relative;
    overflow-wrap: break-word;
    hyphens: auto;
    float: left;
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
    outline: 2px ridge;
}

#workskin .username {
    padding: .75em 0;
    font-size: .75em;
    line-height: .75em;
    width: fit-content;
    display: block;
    clear: both;
    margin: 0 auto;
    margin-left: 0.9em;
    padding-bottom: .5em;
    text-align: left;
    border-bottom: 0.15em solid;
    border-left: 0.8em solid transparent;
}

#workskin .username>strong {
    font-weight: normal;
}

#workskin .is-typing strong {
    font-size: 1.1em;
}

#workskin .username+.text {
    border-top-left-radius: 1em;
}

#workskin .username+.text::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0.6em;
    height: 1em;
    left: -0.7245em;
    border-right: 0.1em solid;
    border-top-right-radius: 1.25em 0.625em;
}

#workskin .hiddeninfo {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#workskin .namelist,
#workskin li {
    list-style: none;
}

#workskin .checkbox summary {
    cursor: pointer;
    list-style: none;
    position: relative;
}

#workskin .checkbox summary::before {
    background-color: transparent;
    border: 1.5px solid;
    content: "";
    display: block;
    height: 1em;
    margin: auto auto auto -2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
}

#workskin .checkbox[open] summary::before {
    background-color: #289af7;
}

#workskin:not(:has(.notextspeak[open])) .fallback {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#workskin .workskin-shown {
    display: block;
}

#workskin .visibly {
    visibility: hidden;
}

#workskin:has(.fadedetails[open]) .fade-typing {
    visibility: visible;
    transition: visibility 0s 9999999s;
}

#workskin .relatyping {
    position: relative;
    clear: both;
}

#workskin .is-typing {
    position: absolute;
    left: -1em;
}

#workskin:has(.fadedetails[open]) .m1 {
    visibility: visible;
    transition: visibility 0s linear 2s;
}

#workskin:not(:has(.notextspeak[open])) .text.m1::after {
    content: "this is a txt msage";
}

#workskin:has(.fadedetails[open]) .m2 {
    visibility: visible;
    transition: visibility 0s linear 4s;
}

#workskin:has(.fadedetails[open]) .t1 {
    transition: visibility 5s linear 5s;
}

#workskin:has(.fadedetails[open]) .t2 {
    transition: visibility 2s linear 11s;
}

#workskin:has(.fadedetails[open]) .m3 {
    visibility: visible;
    transition: visibility 0s linear 14s;
}

#workskin:not(:has(.notextspeak[open])) .text.m3::after {
    content: "this is a txt msage";
}

#workskin:has(.fadedetails[open]) .m4 {
    visibility: visible;
    transition: visibility 0s linear 17s;
}

#workskin:not(:has(.notextspeak[open])) .text.m4::after {
    content: "this is anothr txt msage";
}

#workskin .flex {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#workskin div.fadedetails {
    margin: 0;
    padding: 0 0.5em;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 0.3em;
}

#workskin:has(.notif:hover) div.fadedetails {
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid red;
}

#workskin .audiocontainer {
    position: relative;
    overflow: hidden;
    width: inherit;
    max-width: inherit;
    height: inherit;
}

#workskin .mybase.is-typing {
    outline: 0;
}

#workskin .notif {
    position: absolute;
    transform: scale(22, 14);
    transform-origin: top left;
    left: -500px;
    top: -150px;
    z-index: 31;
    opacity: 0;
}

#workskin .mybase.phone {
    transition: transform 0s 9999999s,
        visibility 0s;
}

#workskin .midnight,
#workskin .midnight-revert,
#workskin .orange,
#workskin .yellow,
#workskin .green,
#workskin .starry,
#workskin .starry-revert,
#workskin .purple,
#workskin .default-revert,
#workskin .reversi-revert {
    margin: 1em 3vw;
    padding: 0 1.7em;
    cursor: pointer;
    border: 2px ridge;
    user-select: none;
}

#workskin .backstuff {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 100%;
    background-repeat: repeat;
}

#workskin .midnight-back {
    background-image: url("https://stygianrivers.github.io/fic-styling/based/Saturn_20260601153446.jpg");
    background-attachment: fixed;
    background-repeat: round no-repeat;
    opacity: 0;
    transition: opacity 0s 9999999s;
}

#workskin .starry-back {
    opacity: 0;
    background: rgba(1, 53, 89, 1);
    filter: brightness(140%) blur(3px);
    background-attachment: fixed;
    background-image: url("https://stygianrivers.github.io/fic-styling/based/Untitled71_20260601192514.png");
    transition: opacity 0s 9999999s;
}

#workskin .userstuff {
    min-height: 100%;
    position: relative;
    transition: color 0s 9999999s,
        background 0s 9999999s,
        text-shadow 0s 9999999s, filter 0s 9999999s;
}

#workskin:has(.default-revert:active) .backstuff {
    opacity: 0.1% !important;
    transition: opacity 1s;
}

#workskin:has(.default-revert:active) .userstuff {
    color: black;
    transition: color 1s;
}

#workskin:has(.reversi-revert:active) .backstuff {
    opacity: 0.1% !important;
    transition: opacity 1s;
}

#workskin:has(.reversi-revert:active) .userstuff {
    color: white;
    transition: color 1s;
}

#workskin:has(.midnight:active) .userstuff,
#workskin:has(.midnight:active) .midnight-back {
    color: white;
    opacity: 100%;
    transition: color 3s,
        opacity 3s;
}

#workskin:has(.midnight-revert:active) .midnight-back {
    opacity: 0.1%;
    transition: opacity 1s;
}

#workskin:has(.orange:active) .userstuff {
    color: orange;
    transition: color 3s;
}

#workskin:has(.yellow:active) .userstuff {
    color: yellow;
    transition: color 3s;
}

#workskin:has(.green:active) .userstuff {
    color: green;
    transition: color 3s;
}

#workskin:has(.starry:active) .userstuff,
#workskin:has(.starry:active) .starry-back {
    color: white;
    opacity: 100%;
    text-shadow: 0 0 0.4em #000000;
    transition: color 3s, text-shadow 3s, opacity 3s;
}

#workskin:has(.starry-revert:active) .starry-back {
    opacity: 0.1%;
    transition: opacity 1s;
}

#workskin:has(.purple:active) .userstuff {
    color: purple;
    transition: color 3s;
}

#workskin:has(.notif:active) .mybase {
    visibility: hidden;
    transform: translateX(10000px);
    transition: visibility 0s,
        transform 0s;
}

#workskin .cont {
    transform: translateX(-10000px);
}

#workskin .my1 {
    transition: transform 0s 9999999s,
        visibility 0s 2s;
}

#workskin .my2 {
    transition: transform 0s 9999999s,
        visibility 0s 4s;
}

#workskin .ty1 {
    transition: transform 0s 10s,
        visibility 0s 5s;
}

#workskin .ty2 {
    transition: transform 0s 13s,
        visibility 0s 11s;
}

#workskin .my3 {
    transition: transform 0s 9999999s,
        visibility 0s 14s;
}

#workskin .my4 {
    transition: transform 0s 9999999s,
        visibility 0s 17s;
}

#workskin:not(:has(.notextspeak[open])) .text.my1::after {
    content: "this is a txt msg";
}

#workskin:not(:has(.notextspeak[open])) .text.my3::after {
    content: "this is a txt msg";
}

#workskin:not(:has(.notextspeak[open])) .text.my4::after {
    content: "this is anothr txt msg";
}