#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #00D5D5;
}

#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #FF2E2E;
}

#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #008000;
}

#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #D27D2D;
}

#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #008000;
}

#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='a' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='b' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='c' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='d' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='e' i]) *),
#workskin a:nth-child(6):is(*:has(meta:last-of-type[content^='f' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='g' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='h' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='i' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='j' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='k' i]) *),
#workskin a:nth-child(1):is(*:has(meta:last-of-type[content^='l' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='m' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='n' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='o' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='p' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='q' i]) *),
#workskin a:nth-child(2):is(*:has(meta:last-of-type[content^='r' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='s' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='t' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='u' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='v' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='w' i]) *),
#workskin a:nth-child(3):is(*:has(meta:last-of-type[content^='x' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='y' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='z' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='0' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='-' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='_' i]) *),
#workskin a:nth-child(4):is(*:has(meta:last-of-type[content^='1' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='2' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='3' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='4' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='5' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='6' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='7' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='8' i]) *),
#workskin a:nth-child(5):is(*:has(meta:last-of-type[content^='9' i]) *) {
    color: #008000;
}